.sidebar_container {
  width: 18vw;
  height: 100vh;
  position: relative;
  top: 0%;
  // background-color: #ffff;
  // background-image: url(../../assets/Background/21.jpg);
  // background-repeat: no-repeat;
  // background-size: cover;
  // background-position: center;
  background-color: #ffffff;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.4);
  padding: 15px 10px;
  overflow: hidden;
  position: relative;
  z-index: 100;

  .sidebar_header {
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      font-weight: 500;
      font-size: 0.8rem;
      letter-spacing: 1px;
      color: rgb(3, 3, 3);

      @media screen and (max-width: 900px) {
        font-size: 0.7rem;
        margin-bottom: 10px;
      }
    }
    @media screen and (max-width: 900px) {
      justify-content: flex-start;
      padding: 0px 10px;
    }
  }

  .sidebar_close {
    position: absolute;
    top: 0%;
    right: 4%;

    i {
      font-size: 1.5rem;
      color: rgb(26, 66, 247);
      cursor: pointer;
      mix-blend-mode: multiply;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }
  .right_arrow {
    display: none;

    @media screen and (max-width: 900px) {
      display: block;
      position: absolute;
      bottom: -5%;
      right: 5%;

      img {
        width: 25px;
        mix-blend-mode: multiply;
      }
    }
  }
  .sidebar_lists {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 2rem 0px;
    .list {
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      width: 100%;
      background-color: white;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
      padding: 10px 1rem;
      margin-bottom: 1rem;
      border-radius: 0.2rem;
      transition: all 0.4s ease-in-out;

      .icon {
        flex: 0.3;
        i {
          color: #182ffa;
          font-size: 1.3rem;
          object-fit: cover;
          mix-blend-mode: multiply;
        }
      }
      .list_title {
        flex: 0.7;
        p {
          letter-spacing: 1px;
          font-weight: 550;
          font-size: 0.7rem;
        }
      }

      &:hover {
        background-color: #8bdf47;
        color: #ffff;
        scale: 1.05;
        transition: all 0.4s ease-in-out;
      }
      &::-webkit-scrollbar {
        display: none !important;
      }
      @media screen and (max-width: 900px) {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 60%;
        width: 60%;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
        padding: 10px 1rem;
        margin-bottom: 1rem;
        border-radius: 0.2rem;
        transition: all 0.4s ease-in-out;
      }
      @media screen and (max-width: 650px) {
        min-width: 60%;
        width: 60%;
      }
      @media screen and (max-width: 450px) {
        min-width: 60%;
        width: 60%;
      }
    }
    @media screen and (max-width: 900px) {
      width: 100vw !important;
      height: 100vh;

      display: flex;
      margin: 5px auto;
      flex-direction: column;
      overflow-x: auto;
      align-items: flex-start;
      gap: 1rem;
      justify-content: flex-start;
      padding: 0px 1rem;

      &::-webkit-scrollbar {
        display: none !important;
      }
    }
    @media screen and (max-width: 900px) {
      padding: 0px 0.4rem;
    }
  }



  @media screen and (max-width: 900px) {
    width: 70vw;
    height: 100vh;
    position: relative;
    top: 0%;
    left: 0%;
    // position: relative;
    box-shadow: 0px 4px 5px rgba(201, 199, 199, 0.4);
    padding: 1rem 1rem 0.1rem 1rem;
    // margin: auto;
overflow: hidden;
    background-color: #ffffff;
  }
}


#close {
  transform: translateX(-1000px);
  transition: transform 0.5s linear;
}
#open {
  transform: translateX(0px);
  transition: transform 0.5s linear;
}




//Side bar selected notification:
#selected {
  background-color: #8bdf47;
  color: #ffffff;
  scale: 1.05;
  transform: scale(1.01s);
  transition: all 0.4s ease-in-out;
}
